.classList{
  margin-top: 20px;
}

.bg-class {
  height: 4rem;
  width: 100%;
  padding: 120px 90px;
  border-radius: 10px;
  background-image: url(../assets/detail.jpg);
  background-size: cover;
}

.list {
  margin-top: 3rem;
}

.detail{
  padding-top: 5px;
  padding-left: 5px;
}

.left{
  width: 75%;
}



.right{
  margin-top: 60px;
}


.fasilitasValue {
  font-size: 18px;
  width: 100%;
  border: 1px solid;
  /* padding: 2em 3em 0em 2em; */
  border-radius: 10px;
  background-color: white;
  border: 1;
  border-color: rgba(212, 212, 212, 1);
  box-shadow: 0 0 10px 0
    rgba(
      203.00000000000003,
      203.00000000000003,
      203.00000000000003,
      0.27058823529411763
    );
  float: left;
  padding: 10px 38px 22px 10px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(5deg);
  transform: rotate(45deg);
}

.items {
  margin-left: 37px;
  margin-top: 35px;
}

@media only screen and (max-width: 1500px) {
  .classList{
    margin-top: 1px;
  }
  .bg-class {
    height: 4rem;
    width: 90%;
    padding: 90px 60px;
    border-radius: 10px;
    background-image: url(../assets/detail.jpg);
    background-size: cover;
  }
  .fasilitasValue {
    font-size: 18px;
    width: 100%;
    height: 180px;
    border: 1px solid;
    /* padding: 2em 3em 0em 2em; */
    border-radius: 10px;
    background-color: white;
    border: 1;
    border-color: rgba(212, 212, 212, 1);
    box-shadow: 0 0 10px 0
      rgba(
        203.00000000000003,
        203.00000000000003,
        203.00000000000003,
        0.27058823529411763
      );
    float: left;
    padding: 0px 26px 4px 10px;
  }
  
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 17px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196f3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(5deg);
    transform: rotate(45deg);
  }
  
  .items {
    margin-left: 25px;
    margin-top: 35px;
  }
  .right{
    margin-top: 40px;
  }

  .detail h3 {
    font-size: 16px;
  }

  .detail p {
    font-size: 16px;
  }
}


@media only screen and (max-width: 767px){
  .justify-between {
    justify-content: center;
  }

  .grid-cols-2{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .classList{
    margin-top: 1px;
  }
  .bg-class {
    height: 4rem;
    width: 90%;
    padding: 80px 130px;
    border-radius: 10px;
    background-image: url(../assets/detail.jpg);
    background-size: cover;
  }
  .fasilitasValue {
    display: none;
  }
  
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 17px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196f3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(5deg);
    transform: rotate(45deg);
  }
  
  .items {
    margin-left: 25px;
    margin-top: 35px;
  }
  .right{
    margin-top: 40px;
  }

  .detail h3 {
    font-size: 16px;
  }

  .detail p {
    font-size: 16px;
  }
}