@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  background-color: #f9f9f9;
  padding: 0 90px 0 90px;
  overflow-x: hidden;
}


* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.closing{
  padding: 30px 45px;
}

.text-white{
  color: white;
}

.capitalize{
  text-transform: capitalize;
}

.navbar{
  margin: 0 10px;
  font-size: 15px;
  font-weight: 500;
}

.circle-profile{
  background-color: red;
  height: 40px;
  border-radius: 100%;
  width: 40px;
  margin-left: 7rem;
}

.text-title{
  font-size: 26px;
  color: #5f5f5f;
}
.flex {
  display: flex;
}
.p15 {
  padding: 10px 35px 10px 35px;
}
.text-white {
  color: white;
}
.border-none {
  border: none;
}

nav{
  margin-bottom: 4rem;
}

.m-auto {
  margin: auto;
}
.radius {
  border-radius: 40px;
}

.icon{
  margin: 8px 0 0 8px;
}

.cart-icon{
  background-color: white;
  height: 40px;
  border-radius: 100%;
  width: 40px;
  margin-left: 7rem;
}
.bg-blue {
  background: #0cafe2;
}
.ml-1 {
  margin-left: 30px;
}
.text-button {
  color: #0cafe2;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
}
button {
  border: none;
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.grid{
  display: grid;
}

.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gap{
  gap: 3rem;
}


.rounded-md{
  border-radius: 0.375rem;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-2xl{
  border-radius: 1rem;
}

.text-blue {
  color: #0cafe2;
}

.text-button {
  font-size: 15px;
}

.bg-blue {
  background-color: #0cafe2;

}

.sign-up {
  padding: 6px 17px;
  border-radius: 100px;
  color: white;
}

.rounded-full {
  border-radius: 100px;
}

.bg-blue:hover {
  border-radius: 100px;
  background-color: #fff;
  color: #0cafe2;
}

.bg-blue img:hover {
  border-radius: 100px;
  background-color: #fff;
  color: #0cafe2;
}
.text-gray{
  color: #878787;
}

.pointer {
  cursor: pointer;
}


