* {
  padding: 0;
}
.h-cover {
  width: 60rem;
  height: 24rem;
  border-radius: 15px;
}
.img-popular {
  background-image: url("https://images.unsplash.com/photo-1593720213428-28a5b9e94613?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  width: 54rem;
}
.activity {
  margin: 2rem 0;
}
.left {
  padding: 0 1rem;
}

.arrow-change {
  bottom: 50%;
  right: 4%;
  width: 108%;
}
#rekomendasi {
  margin-top: 6rem;
}
#rekomendasi h1 {
  font-size: 23px;
}
.h-rekomendasi {
  border-radius: 10px;
  height: 8rem;
  width: 18rem;
}
.content h2 {
  font-size: 15px;
}
.content p {
  color: #4a4a4a;
}
.op-rekomen {
  background-color: rgba(0, 0, 0, 0.37);
}
.bg-rekomendasi {
  background-image: url("https://images.unsplash.com/photo-1602576666092-bf6447a729fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
  background-size: cover;
}
.arrow-slide {
  margin: 0 0 0 5px;
}
.circle-arrow {
  border-radius: 100px;
  height: 3rem;
  width: 3rem;
  background-color: white;
  margin-inline: -25px;
}
.gray-indicator {
  height: 8px;
  width: 100%;
  background-color: #e9e9e9;
  border-radius: 100px;
}
.green-indicator {
  height: 8px;
  width: 45%;
  background-color: #08e811;
  border-radius: 100px;
}
.left {
  margin-right: 4rem;
}
.right h1 {
  font-size: 17px;
  margin-bottom: 1.5rem;
}
.status {
  color: #5b5b5b;
}
.activity h2 {
  font-size: 14px;
  color: #404040;
}
.activity p {
  margin: 4px 0;
  font-size: 9px;
  font-weight: 100;
}
.opacity-bg {
  background-color: rgba(0, 0, 0, 0.384);
  width: 54rem;
}

.info {
  margin-top: 2rem;
}
.arrow {
  font-size: 20px;
}

.more {
  font-size: 14px;
  border-radius: 100px;
  padding: 8px 20px;
}

.activity {
  padding: 10px 20px;
  height: 6rem;
  width: 15rem;
  border-radius: 10px;
  border: 2px solid #d2d2d2;
}
.arrow {
  font-size: 25px;
  height: 40px;
  margin: auto;
  padding: auto;
  width: 40px;

  border-radius: 100%;
  justify-self: center;
  display: flex;
}
.title-div {
  margin-bottom: 20px;
}
.arrow-move {
  font-weight: 300;
  text-align: center;
  margin: auto;
}
.standard-font {
  font-size: 17px;
}
.safe {
  clear: both;
}
.recomendation-img {
  border-radius: 20px;
  height: 10rem;
  width: 18rem;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1593720213428-28a5b9e94613?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
}
@media only screen and (max-width: 1500px) {
  .h-cover {
    width: 60rem;
    height: 24rem;
    border-radius: 15px;
  }
  .img-popular {
    background-image: url("https://images.unsplash.com/photo-1593720213428-28a5b9e94613?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
  }
  .activity {
    margin: 2rem 0;
  }
  .left {
    padding: 0 1rem;
  }

  .arrow-change {
    bottom: 50%;
    right: 4%;
    width: 108%;
  }
  #rekomendasi {
    margin-top: 6rem;
  }
  #rekomendasi h1 {
    font-size: 23px;
  }
  .h-rekomendasi {
    border-radius: 10px;
    height: 8rem;
    width: 18rem;
  }
  .content h2 {
    font-size: 15px;
  }
  .content p {
    color: #4a4a4a;
  }
  .op-rekomen {
    background-color: rgba(0, 0, 0, 0.37);
  }
  .bg-rekomendasi {
    background-image: url("https://images.unsplash.com/photo-1602576666092-bf6447a729fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    background-size: cover;
  }
  .arrow-slide {
    margin: 0 0 0 5px;
  }
  .circle-arrow {
    border-radius: 100px;
    height: 3rem;
    width: 3rem;
    background-color: white;
  }

  .left {
    margin-right: 4rem;
  }
  .right h1 {
    font-size: 17px;
    margin-bottom: 1.5rem;
  }
  .status {
    color: #5b5b5b;
  }
  .activity h2 {
    font-size: 14px;
    color: #404040;
  }
  .activity p {
    margin: 4px 0;
    font-size: 9px;
    font-weight: 100;
  }
  .opacity-bg {
    background-color: rgba(0, 0, 0, 0.384);
  }

  .info {
    margin-top: 2rem;
  }
  .arrow {
    font-size: 20px;
  }

  .more {
    font-size: 14px;
    border-radius: 100px;
    padding: 8px 20px;
  }

  .activity {
    padding: 10px 20px;
    height: 6rem;
    width: 20rem;
    border-radius: 10px;
    border: 2px solid #d2d2d2;
  }

  .gray-indicator {
    height: 8px;
    width: 100%;
    background-color: #e9e9e9;
    border-radius: 100px;
  }
  .green-indicator {
    height: 8px;
    width: 45%;
    background-color: #08e811;
    border-radius: 100px;
  }
}
@media only screen and (max-width: 676px) {
  body {
    padding: 0 10px;
  }
  .img-popular {
    background-image: url("https://images.unsplash.com/photo-1593720213428-28a5b9e94613?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    height: 120px;
    width: 100%;
    margin: auto;
  }
  .no {
    display: block;
    width: 100%;
  }
  .opacity-bg {
    display: none;
  }
  .left {
    padding-inline: 0;margin: auto;
  }
  .content {
    margin-inline: 20px;
  }
  .arrow-change {
    display: none;
  }
  .info h2 {
    font-size: 15px;
  }
  .more {
    padding: 1px;
  }
  .right {
    margin: auto;
  }
  .right h1 {
    text-align: center;
    margin-top: 20px;
  }
  .activity {
    width: 80%;
    margin: 10px 13.325px;
  }
}
