* {
  padding: 0;
}

#top {
  margin-top: 100px;
}

#content {
  margin-top: 80px;
  text-align: center;
}
#content-top {
  height: 500px;
  margin: auto;
  width: 85%;
}
#content-top h1 {
  font-weight: 1000;
  font-size: 40px;
  margin-bottom: 30px;
  justify-content: center;
}

.box {
  background-color: white;
  /* height: 200px; */
  width: 19%;
  border-radius: 20px;
  margin: 10px 98px 0 0;
  padding: 4rem 0;
}
.box .imgBox img {
  height: 100px;
}

.box h3 {
  font-size: 20px;
}

.img-top {
  height: 600px;
  margin-top: -40px;
}

#bot {
  margin: 0 0 0px 0;
}
.text-top {
  width: 75%;
  margin-bottom: 15px;
}

.text-after-top {
  font-weight: 400;
  font-size: 20px;
  width: 75%;
}

.register {
  margin-top: 40px;
  padding: 16px 36px;
  color: white;
  font-weight: 400;
  font-size: 19px;
}
@media only screen and (max-width: 1500px) {
  #landing-body {
    padding-inline: 10px;
  }
  .img-top {
    display: none;
  }
  .btn {
    margin-top: 20px;
  }
  .text-top {
    font-size: 30px;
    width: 100%;
  }

  .text-after-top {
    font-size: 15px;
    width: 100%;
  }
  .register {
    padding: 10px 26px;
    font-size: 13px;
  }

  #content-top h1 {
    font-size: 25px;
  }
  .box .imgBox img {
    height: 90px;
  }
  #bot {
    margin-top: 400px;
  }
  .justify-center {
    justify-content: center;
  }
  .box {
    margin: 20px 30px;

    width: 35%;
    padding: 3rem 0;
  }

  .box h3 {
    font-size: 17px;
  }
}
@media only screen and (max-width: 676px) {
  #content-top .flex .box {
    width: 80%;
    align-items: center;
  }  #content-top .flex {
    display: block;

    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
}
