@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.bg{
  background-image: url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
}

.bg-opacity{
  background-color: rgba(0, 0, 0, 0.603);
}
.relative{
  position: relative;
}
*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.text-title{
  font-size: 26px;
  color: #5f5f5f;
}
.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.flex{
  display: flex;
}

.navbar{
  margin: 0 10px;
  font-size: 15px;
  font-weight: 500;
}
.circle-profile{
  background-color: red;
  height: 40px;
  border-radius: 100%;
  width: 40px;
  margin-left: 7rem;
}

.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}


.bg-size{
  height: 27rem;
  width: 100%;
}
.cart-icon{
  background-color: white;
  height: 40px;
  border-radius: 100%;
  width: 40px;
  margin-left: 7rem;
}
.icon{
  margin: 8px 0 0 8px;
}
.closing{
  padding: 30px 4rem;
}

.info-profile{
  padding:0 5rem;
  
}
.circle-profile-info{
  margin-right: 2rem;
  background-color: red;
  height: 64px;
  border-radius: 100%;
  width: 64px;
}

.card-name{
  background-color: white;
  border: 2px solid #d2d2d2;
  padding: 10px 20px;
  border-radius: 13px;
  bottom: 4rem;
}