.profile{
  width: 65rem;
  height: 32rem;
  border-radius: 10px;
  border: 1.5px solid #d4d4d4;
}
.profile .bg, .profile  .info{
  padding: 0 4rem;
}
.bg{
  height: 20rem;
  background-color: red;
  border-radius: 10px 10px 0 0;
  background-image: url("../assets/david-schultz-SrewPUfo2c0-unsplash.jpg");
  background-size: cover;
}
.img-profile{
  height: 9.5rem;
  width: 9.5rem;
  background-color: rebeccapurple;
  border-radius: 100px;
}
.biodata p{
  color: #6d6d6d;
}
.info{
  bottom: 5rem;
}

.sertifikat{
  width: 65rem;
  /* height: 32rem; */
  /* padding: 0 2rem; */
  border-radius: 10px;
  border: 1.5px solid #d4d4d4;
}